<div id="container">
  <div id="panel">
    <div>
      <p>Start: </p>
      <input id="start" placeholder="Atlanta, GA" />
      <div id="clear"></div>
    </div>
    <div>
      <p>End: </p>
      <input id="end" placeholder="Chicago, IL" />
    </div>
    <button onclick="calcRoute();">Go</button>
    <div id="clear"></div>
  </div>

  <div id="maps-container">
    <div id="directions-panel">
      <!-- <h3>Destination: </h3>
      <ul></ul> -->
      <h2 id="route"></h2><br /> 
      <h2 id="eta"></h2>
    </div>
  	<div id="map-canvas"></div>
  </div>
</div>